<nav class="navbar justify-content-center">
  <h1>
    <%= @profile.username %>
  </h1>
</nav>

<p id="notice"><%= notice %></p>

<h3><%= @profile.name %></h3>

<p>
  <%= @profile.bio %>
</p>

<div class="d-flex justify-content-around">
  <p class="profile-count text-center">
    <%= pluralize(@profile.user.photos.count, 'photo') %>
  </p>
  <p class="profile-count text-center">
    <%= pluralize(@profile.user.followers.count, 'follower') %>
  </p>
  <p class="profile-count text-center">
    <%= pluralize(@profile.user.following.count, 'following', plural: 'following') %>
  </p>
</div>

<% if @profile.user == current_user %>
  <%= link_to 'Edit', edit_profile_path, class: 'btn btn-secondary btn-block' %>
<% else %>
  <%= form_with(model: @profile.user, method: :patch) do |f| %>
    <%= f.hidden_field :follow, value: true %>
    <%= f.button @profile.user.followed_by?(current_user) ? 'Unfollow' : 'Follow', class: 'btn btn-primary btn-block' %>
  <% end %>
<% end %>
