<nav class="navbar">
  <h1><%= @profile.username %></h1>
</nav>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h3><%= @profile.name %></h3>
  <p><%= @profile.bio %></p>

  <div class="d-flex justify-content-around">
    <p class="profile-count text-center">
      <%= pluralize(@profile.user.photos.count, 'photo').split(' ').join('<br>').html_safe %>
    </p>
    <p class="profile-count text-center">
      <%= pluralize(@profile.user.followers.count, 'follower').split(' ').join('<br>').html_safe %>
    </p>
    <p class="profile-count text-center">
      <%= pluralize(@profile.user.following.count, 'following', plural: 'following').split(' ').join('<br>').html_safe %>
    </p>
  </div>

  <% if !user_signed_in? %>
    
  <% elsif @profile.user == current_user %>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
  <% else %>
    <%= form_with(model: @profile.user, method: :patch) do |f| %>
      <%= f.hidden_field :toggle_follow, value: true %>
      <%= f.button @profile.user.followed_by?(current_user) ? 'Unfollow' : 'Follow',
        class: 'btn btn-primary btn-block' %>
    <% end %>
  <% end %>
</div>