<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @photo.image.url, class: 'img-fluid' %>
</p>

<p>
  <strong><%= @photo.user.email %></strong>
  <%= @photo.description %>
</p>

<!-- Like button -->
<%= form_with(model: @photo, method: :patch) do |f| %>
  <% liked = @photo.liked_by?(current_user) %>
  <%= f.hidden_field :liked, value: liked %>
  <%= f.button liked ? 'Unlike' : 'Like' %>
<% end %>

<% if current_user == @photo.user %>
  <%= link_to 'Edit', edit_photo_path(@photo) %> ·
  <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> ·
<% end %>
<%= link_to 'Back', photos_path %>
