<p id="notice"><%= notice %></p>

<%= render @photo %>

<% if current_user == @photo.user %>
  <%= link_to 'Edit', edit_photo_path(@photo) %> ·
  <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> ·
<% end %>
<%= link_to 'Back', photos_path %>
